/********************************* Reset CSS *************************/
/* on utilise celui-là pour l'instant, mais on verra d'autre techniques plus pertinentes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************* GENERAL *************************/
body, html {
	height:100%;
}
body {
	color: #000;
	background-image: url("../img/bg.jpg");
	background-attachment:fixed;
	
	font-family: "Ubuntu";
}

main {
    position: relative;
    min-height:100%;
}
/********************************* HEADER *************************/
header {
	position: fixed;
	height: 160px;
	width: 100%;
	background-color: white;
	border-bottom: 7px solid #E01045;
	text-align: center;
}
header img {
	width: 110px;
}
header img:hover {
	-webkit-transform: rotateZ(-90deg); /* Safari */
    transform: rotateZ(-90deg);
}
nav {
	text-align: center;
	color: grey;
}

nav a{
	text-decoration: none;
	color: grey;
}

nav li {
	display : inline;
	padding : 0 1em 0 0.5em; /* Pour espacer les boutons entre eux */
	font-size: 14px;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}

nav li:hover {
	border-bottom: 4px solid #E01045;
}

nav li:nth-of-type(1),li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4){/* selection des enfants voulus */
	border-right: 2px solid #E3E3E3;
}

nav ul {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	padding: 10px;
}
/********************************* ENTETE *************************/
h1 {
	padding-top: 260px;
	text-align: center;
}

h1 span {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid white;
	padding: 15px 5% 15px 5%;
	text-shadow: 0 0 3px #000;
}
/*************************** BLOCS & CONTENEUR ********************/
section{
	margin-top: 150px;
	padding-top: 25px;
	width:100%;
	height:500px;
	background-color: white;
	font-size: 12px;
}

section img{
	width:100px;
	margin-left: 80px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 7px solid #E01045;
}

h2 {
	margin-bottom: 50px;
	margin-left: 40%;
	text-shadow: 0 0 3px #FFFF00, 0 0 5px #FFF;
}

section span{
	margin-right: 40%;
	color: #E01045;
	font-weight: bold;
	font-size: 18px;
}
/*************************** CHAQUES DiV ********************/
.left {
	float:left;
	width:300px;
	height:350px;
	background-color: #EDEDED;
	margin-left:25%;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	border-radius: 5px;
	-webkit-transition: all 1s;
    transition: all 1s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left:hover {
	background-color:rgba(0,0,0,0.2);
}

.right {
	float:left;
	width:300px;
	height:350px;
	background-color: #EDEDED;
	margin-left:50px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	border-radius: 5px;
	-webkit-transition: all 0.5s;
    transition: all 1s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right:hover {
	background-color:rgba(0,0,0,0.2);
}

.center {
	float:left;
	width:300px;
	height:350px;
	background-color: #EDEDED;
	margin-left:50px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	border-radius: 5px;
	-webkit-transition: all 0.5s;
    transition: all 1s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center:hover {
	background-color:rgba(0,0,0,0.2);
}

/*************************** FOOTER ********************/
footer{
	width: 100%;
	height: 300px;
	background-color: #272727;
	text-align: center;
}

.logo img{
	width: 100px;
	margin-right: 25px;
	vertical-align: top;

}

.logo img:nth-child(1){
	margin-top: 10px;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.logo img:nth-child(1):hover{
	width:120px;
}

.logo img:nth-child(2){
	width: 130px;
	padding-top: 20px;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.logo img:nth-child(2):hover{
	width:150px;
}

footer .copyright{
	color: white;
    position: absolute;
    bottom: 10px;
	margin-left: -70px;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
/*************************** OUTiLS ********************/
.clear {
	clear:both;
}
